@media (min-width:1200px) {
    .li-botones ul {
        margin-right: 100px;
    }
}

@media (min-width:1300px) {
    .li-botones ul {
        margin-right: 150px;
    }
}

@media (min-width:1400px) {
    .li-botones ul {
        margin-right: 180px;
    }
}

@media (max-width: 1120px) {

    div.footer {
        flex-wrap: wrap;
        height: 500px;
    }

    .siguenos {
        margin-left: 46px
    }
}

@media (max-width: 995px) {
    div.beneficios {
        height: 1000px;
    }

    div.footer {
        flex-wrap: wrap;
    }
}

@media (max-width: 970px) {

    .nav ul {
        margin-left: -80px;
    }
  

}

@media (max-width: 935px) {
    div.contacto {
        height: 800px;
    }
}

@media (max-width: 890px) {

    .nav ul {
        margin-left: -100px;
    }

    .nav li {
        font-size: 15px;
    }

    h3.about-us {
        font-size: 60px;
    }

    div.beneficios {
        height: 1500px
    }

    .cards-container {
        flex-direction: column;
    }
}

@media (max-width: 860px) {

    .caja-botones {
        margin-left: -30px;
    }
}

@media (max-width: 854px) {
    .service {
        margin-left: 40px;
    }

    .ayuda {
        margin-right: 50px;
    }

}


@media (max-width: 790px) {
    .nav button {
        width: 70px;
    }

    div.about-us {
        margin-right:20px;
       
    }

    .container-texto-imagen {
        flex-direction: column-reverse;
    }

    div.container-about-us {
        height: 900px
    }


    h2.about-us {
    
        margin-top: 0px;
        margin-bottom: 180px;
    }

    h3.about-us {
        font-size: 50px;
    }


    div.imagen-about-us {
        min-height: 300px;
        width: 70%;
        margin-left: 160px;;
        margin-top: 200px;
        margin-bottom: 100px;
        margin-right: 200px ;

        
    }
}



@media (min-width:790px) {
    .li-botones {
        gap: 30px;

    }

}

@media (max-width: 750px) {
    .nav ul {
        margin-left: -110px;
        margin-right: 0px;
    }

    .nav li {
        font-size: 14px;
    }

    .nav-boton {
        width: 70px;
    }
}


@media (max-width: 747px) {
    div.footer {
        height: 500px;
    }

    .service {
        margin-left: 50px;
        margin-right: -25px;
    }
}


@media (max-width: 692px) {
    div.footer {
        height: 500px;
        padding: 0px
    }

    .service {
        margin-left: 40px;
        margin-right: -25px;
    }

    .ayuda {
        margin-left: -30px;
    }

    .info-columnas {
        transform: scale(0.9);
    }
}


@media (max-width: 672px) {

    .caja-logo {
        width: 50px;
        height: 50px;
        margin-top: -30px;
    }

    div.logo {
        height: 50px;
    }

    .span-logo {
        font-size: 12px;
    }

    .nav ul {
        margin-right: -20px;
    }

    .nav li {
        font-size: 13px
    }

}



/* MENU RESPONSIVE */

@media (max-width: 646px) {
    label.volver {
        left: 45%;
    }

    .nav {
        margin: 20px auto;
    }

    .caja-logo {
        width: 200px;
    }

    div.logo {
        height: 70px;
        width: 70px;
        margin-top: 4px;
    }

    .span-logo {
        font-size: 15px;
    }

    .nav ul,
    .nav button {
        display: none;
    }

    .nav ul {
        margin-top: -150px;
    }

    nav label {
        display: flex;
        position: absolute;
        top: 60px;
        right: 50px;
        z-index: 300;
    }

    nav label i {
        font-size: 35px;
        color: aliceblue;
    }

    nav input:checked~.nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    nav input:checked~.nav>.li-botones {
        display: flex;
        gap: 150px;
        margin-top: 50px;
    }

    nav input:checked~.nav>.li-botones>ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    nav input:checked~.nav>.li-botones>ul>li {
        font-size: 20px;
    }


    nav input:checked~.nav>.li-botones>.caja-botones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
    }

    nav input:checked~.nav>.li-botones>.caja-botones>button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 80px;
    }

    nav input:checked~.nav>.caja-logo {
        position: fixed;
        top: 49px;
        left: 20px;
    }

    .titulo-background {
        width: 300px;
        height: 200px;
    }

    h1 {
        font-size: 70px;
    }

    section.beneficios {
        margin: 0px auto;
    }

    h2.beneficios {
        font-size: 55px;
    }

    section.about-us {
        margin-top: -300px;
    }


    div.container-testimonios {
        margin-top: 400px;
        margin-bottom: 300px;
    }


    h2.titulo-testimonios {
        font-size: 50px;

    }


    div.contacto {
        height: 800px;
        margin-top: 200px;
        position: relative;
    }

    h2.contacto {
        margin-top: -10px;
        font-size: 55px;
    }



    .siguenos li {
        margin-top: -30px;
        margin-left: 15px;
        margin-left: 0px;
    }

    .siguenos li i {
        font-size: 10px;
    }




}

@media (max-width:562px) {
    div.footer {
        height: 500px;
    }

    .service {
        margin-left: 50px;
        margin-right: -50px
    }

    div.about-us {padding: 60px;
    margin-top: -100px;}

    .container-texto-imagen {margin-top: -70px;}
}


@media (max-width:547px) {
    div.footer {
        height: 900px;
        flex-direction: column;
    }

    div.siguenos {
        margin-right: -20px;
    }

    div.ayuda {margin-bottom: 0px;}

    .info-columnas {
        margin: auto;
        margin-bottom: 30px
    }

    .compañia {
        margin-bottom: -20px;
        margin-top: 80px
    }

    h2.about-us {
        font-size: 55px;
        margin: auto;
        margin-top: 80px;
    }

    h3.about-us {font-size: 40px;}



    .container-texto-imagen{margin-top: 0px;}
  

}


@media (max-width:520px) {
    input.contacto {
        width: 300px;
    }

    .imagen-about-us {
        min-width: 100px;
        min-height: 200px;
    }

   

    div.container-testimonios {
        margin-top: 0px;
        margin-bottom: 300px;
    }

    h2.titulo-testimonios {

        margin: 400px 0px 0px 0px
    }


}



@media (max-width:445px) {

    label.volver {
        left: 41%;
    }

    div.container-texto-imagen {margin-bottom: 250px;}


}

@media (max-width:378px) {

    .li-botones ul {
        margin-right: -100px;
    }

    div.container-about-us {
        height: 900px;
    }

   

    div.about-us {
        padding: 50px;
    }

    h2.titulo-testimonios {
        margin-left: -20px;
    }

    div.nombre-testimonio p {
        font-size: 15px;
        font-weight: 500;
        margin-right: -50px;
    }

    div.texto-testimonio p {
        font-size: 14px;
    }

    div.footer {
        height: 900px;
        margin-bottom: 0px;
    }

    li.compañia {
        margin: auto;
        text-align: center;
    }
}


@media (max-width:325px) {


    label.volver {
        left: 41%;
    }

    h2.beneficios {
        font-size: 45px;
    }


    h2.titulo-testimonios {
        font-size: 45px;
        margin-left: -30px;
    }

    h2.contacto {
        font-size: 45px;
    }

    div.contacto input {
        width: 240px;
    }


    ul.siguenos-footer li i {
        font-size: 40px;
    }
}