@media (min-width:1200px) {
    .li-botones ul {
        margin-right: 100px;
    }
}

@media (min-width:1300px) {
    .li-botones ul {
        margin-right: 150px;
    }
}

@media (min-width:1400px) {
    .li-botones ul {
        margin-right: 180px;
    }
}

@media (max-width: 1120px) {

    div.footer {
        flex-wrap: wrap;
        height: 500px;
    }
}

@media (max-width: 995px) {
    div.beneficios {
        height: 1000px;
    }

    div.footer {
        flex-wrap: wrap;
    }
}

@media (max-width: 970px) {

    .nav ul {
        margin-left: -80px;
    }

}

@media (max-width: 935px) {
    div.contacto {
        height: 800px;
    }
}

@media (max-width: 890px) {

    .nav ul {
        margin-left: -100px;
    }

    .nav li {
        font-size: 15px;
    }

    h3.about-us {
        font-size: 60px;
    }
}

@media (max-width: 860px) {

    .caja-botones {
        margin-left: -30px;
    }
}

@media (max-width: 790px) {
    .nav button {
        width: 70px;
    }

    div.about-us {
        margin-right: -60px
    }
}



@media (min-width:790px) {
    .li-botones {
        gap: 30px;
    }

}

@media (max-width: 750px) {
    .nav ul {
        margin-left: -110px;
        margin-right: 0px;
    }

    .nav li {
        font-size: 14px;
    }

    .nav-boton {
        width: 70px;
    }
}

@media (max-width: 672px) {

    .caja-logo {
        width: 50px;
        height: 50px;
        margin-top: -30px;
    }

    div.logo {
        height: 50px;
    }

    .span-logo {
        font-size: 12px;
    }

    .nav ul {
        margin-right: -20px;
    }

    .nav li {
        font-size: 13px
    }

    div.footer {
        height: 700px;
    }

    div.service {
        margin-left: -7px;
    }
}







/* MENU RESPONSIVE */

@media (max-width: 646px) {
    label.volver {
        left: 45%;
    }

    .nav {
        margin: 20px auto;
    }

    .caja-logo {
        width: 200px;
    }

    div.logo {
        height: 70px;
        width: 70px;
        margin-top: 4px;
    }

    .span-logo {
        font-size: 15px;
    }

    .nav ul,
    .nav button {
        display: none;
    }

    .nav ul {
        margin-top: -150px;
    }

    nav label {
        display: flex;
        position: absolute;
        top: 60px;
        right: 50px;
        z-index: 300;
    }

    nav label i {
        font-size: 35px;
        color: aliceblue;
    }

    nav input:checked~.nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    nav input:checked~.nav>.li-botones {
        display: flex;
        gap: 150px;
        margin-top: 50px;
    }

    nav input:checked~.nav>.li-botones>ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    nav input:checked~.nav>.li-botones>ul>li {
        font-size: 20px;
    }


    nav input:checked~.nav>.li-botones>.caja-botones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
    }

    nav input:checked~.nav>.li-botones>.caja-botones>button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 80px;
    }

    nav input:checked~.nav>.caja-logo {
        position: fixed;
        top: 49px;
        left: 20px;
    }

    .titulo-background {
        width: 300px;
        height: 200px;
    }

    h1 {
        font-size: 70px;
    }

    section.beneficios {
        margin: 0px auto;
    }

    h2.beneficios {
        font-size: 55px;
    }

    div.beneficios {
        height: 1280px;
    }

    .cards-container {
        margin-bottom: 170px;
    }

    section.about-us {
        margin-top: -300px;
    }



    div.container-texto-imagen {
        display: flex;
        flex-direction: column;

    }

    .imagen-about-us {
        order: 1;
        width: 70%;
        height: 500px;
        margin: -80px auto 10px;

    }

    div.about-us {
        order: 2;
        padding-left: 90px;
        width: 90%;

    }

    h2.about-us {
        margin-right: 30px;
        font-size: 55px;
    }

    h3.about-us {
        font-size: 60px;
        margin: 0px;
        padding: 30px 0px 20px 0px;
    }


    div.container-testimonios {
        margin-top: 400px;
        margin-bottom: 300px;
    }


    h2.titulo-testimonios {
        font-size: 50px;

    }


    div.contacto {
        height: 800px;
        margin-top: 200px;
        position: relative;
    }

    h2.contacto {
        margin-top: -10px;
        font-size: 55px;
    }

    div.footer {
        height: 700px;
        gap: 0px;

    }

    div.info-columnas {
        margin-top: 70px;
    }


    .siguenos li {
        margin-top: -30px;
        margin-left: 15px;
        margin-left: 0px;
    }

    .siguenos li i {
        font-size: 10px;
    }

    .siguenos-footer {
        margin: 20px;}

        h3.siguenos {margin-left: 1px;}

}

@media (max-width:520px) {
    input.contacto {
        width: 300px;
    }

    .imagen-about-us {
        min-width: 100px;
        min-height: 200px;
    }

    h3.about-us {
        font-size: 50px;
    }

    div.container-testimonios {margin-top: 0px;
        margin-bottom: 300px;}

    h2.titulo-testimonios {
    
        margin: 400px 0px 0px 0px
    }

    div.footer {margin-bottom: 0px;
    height: 700px;}
}


@media (max-width: 500px) {

    div.container-about-us {
        height: 800px;
        gap: 50px;
    }

    div.about-us {
        padding: 20px;
        margin: auto;}
    }

    
@media (max-width:445px) {

    label.volver {
        left: 41%;
    }

    div.footer {
        height: 900px;
        margin-bottom: 0px;
    }

    div.service {margin: 70px auto 0px ;}
}

@media (max-width:378px) {

    .li-botones ul {
        margin-right: -100px;
    }

    div.container-about-us {
        height: 900px;
    }

    h2.about-us {
        margin-top: 170px;
        margin-bottom: 0px;
    }

    .container-texto-imagen {
        margin-top: 200px;
    }

    div.about-us {
        width: 100%;
        padding: 50px;
    }

    h2.titulo-testimonios {
        margin-left: -20px;
    }

    div.nombre-testimonio p {font-size: 15px;
        font-weight: 500;
        margin-right: -50px;}

        div.texto-testimonio p{font-size: 14px;}

    div.footer {
        height: 900px;
        margin-bottom: 0px;
    }

    li.compañia {
        margin: auto;
        text-align: center;
    }
}


@media (max-width:325px) {


    label.volver {
        left: 38%;
    }

    h2.beneficios {
        font-size: 45px;
    }

    div.about-us {
        height: 300px;
        padding: 150px 50px 0px;
    }

    h2.about-us {
        font-size: 45px;
    }

    div.imagen-about-us {
        width: 230px;
        height: 180px;
        margin: -90px;

    }

    h2.about-us {
        margin-top: 120px;
    }

    h3.about-us {
        font-size: 40px;
        margin-top: 0px;
        padding: 30px 0px 20px 0px;
    }

    .container-texto-imagen {
        gap: 40px;
    }

    h2.titulo-testimonios {
        font-size: 45px;
        margin-left: -30px;
    }

    h2.contacto {
        font-size: 45px;
    }

    div.contacto input {
        width: 240px;
    }


    ul.siguenos-footer li i {
        font-size: 40px;
    }

}