
html {
    font-family: Libre Franklin;
    color: aliceblue;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

body {
    background-color: rgb(0, 0, 0);
}



/* LOGIN */

div.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 90vw;
    height: 640px;
    border-radius: 30px;
    background: linear-gradient(rgb(0, 0, 0),
            rgb(22, 22, 22),
            rgb(70, 70, 70),
            rgb(182, 182, 182));
    border: 1px solid rgba(240, 248, 255, 0.575);
    transform: scale(0.92);
}

a i.volver {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 40px;
    background: linear-gradient(rgb(255, 255, 255)
   , rgb(80, 80, 80));
   color: transparent;
   background-clip: text;

    border-radius: 30px;
    padding: 10px;
    -webkit-background-clip: text;
}

h2.login {
    display: flex;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 70px;
    margin-top: 20px;
    background: linear-gradient(to right,
            rgba(112, 112, 112, 0.247),
            rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

div.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.email-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 25px;
    margin-bottom: 20px;
}



label.contacto {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    color: rgba(240, 248, 255, 0.836);
}

.input-1,
.input-2 {
    display: flex;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    padding: 15px;
    margin-top: 15px;
    border: none;
    background: linear-gradient(rgb(0, 162, 255), rgb(162, 4, 224));
    backdrop-filter: blur(10px);
    color: aliceblue;
}


input::placeholder {
    color: rgba(255, 255, 255, 0.582);
    font-weight: 500;
}


span {color: rgba(240, 248, 255, 0.767);}
ul {display: flex;
flex-direction: row;
gap: 40px;
margin-top: 0px;
margin-bottom: -20px;}
li.registro {
    font-size: 30px;
    background-color: aliceblue;
    width: 45px;
    height: 45px;
    padding-top: 4px;
    text-align: center;
    border-radius: 20px;}

button.login {
    width: 200px;
    height: 60px;
    margin-top: 30px;
    border: none;
    border-radius: 15px;
    color: aliceblue;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(rgb(119, 0, 255), rgb(211, 0, 211));
    backdrop-filter: blur(10px);
}

/* LOGIN */

/* BOTONES ANIMACIONES */

button:hover {cursor:pointer;
    transform: scale(1.1);
    transition: 0.1s ease;}
    button:active {filter: brightness(0.8);
    transition: 0.1s ;}
    label.volver:hover {cursor: pointer;filter: brightness(0.8);
        transition: 0.1s }
    /* BOTONES ANIMACIONES */