@media (max-width: 475px) {
    input.contacto {
        width: 300px;}
        h2.login {font-size: 50px;}
        a i.volver {font-size: 20px;
        top: 20px;
    left: 20px;}
    }

    @media (max-width: 390px) {
        input.contacto {
            width: 250px;}
            ul.registro li { margin: 0px -10px;}
            
        }